<div class="card mb-3" style="max-width: 100%;">
  <% for post in @posts %>
    <div class="row no-gutters">
      <div class="col-md-4">
        <%# <img class="card-img-top" width="100%" height="250" src="assets/python.png"> %>
        <%= image_tag "#{post.menu.image}", class: "img_size"%>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">記事タイトル：<%= post.title %></h5>
          <p class="card-text">URL：<%= link_to "#{post.link_url}","#{post.link_url}" %></p>
          <p class="card-text">内容：<%= post.content %></p>
          <p class="card-text">カテゴリー：<%= post.menu.word %></p>
          <%= link_to  "削除", post_path(post), method: :delete, data: { confirm: "削除しますか？"} %>
        </div>
      </div>
    </div>
  <% end %>
</div>